apiVersion: v1
kind: Secret
metadata:
  name: gitblog-secret
  namespace: gitblog
type: Opaque
stringData:
  DB_USER: <YOUR_DB_USER>
  DB_PASSWORD: <YOUR_DB_PASSWORD>
  JWT_SECRET: <YOUR_JWT_SECRET>